//"out": true, "compress": true

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

#svg *, .svg * {
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#waitform {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
    cursor: wait;
}

a {
    color: gray;
}

em {
    border: 1px rgba(0, 0, 0, 0.2) solid;
    font-style: normal;
    padding: 0px 3px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 3px;
}

h6 {
    font-size: 100%;
    font-weight: normal;
    margin: 0px;
}

p {
    font-size: 80%;
    margin-top: 5px;
    margin-bottom: 0px;
}

.control_panel {
    padding: 15px;
    padding-bottom: 0px;
    position: absolute;
    z-index: 10;
}

@sidebarWidth: 300px;

#table-dice {
  height: 100%;
  position: relative;
  padding-left: @sidebarWidth;

  #sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: @sidebarWidth;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    padding-bottom: 140px;

    background: #333;
    color: white;

    #custom_rolls {
      height: 100%;
      box-sizing: border-box;
      overflow-y: scroll;
    }
  }

  #dicebox {
    width: 100%;
    height: 100%;

    #canvas {
      height: 100%;
      canvas {
        width: 100%;
        height: 100%;
      }
    }
  }

}

#selector_div, #control_panel h6 {
  display: none!important;
}



body.show_custom_rolls {
  padding-left: 300px;
}

#info_div {
  position: relative;
  display: block!important;
}
.center_field {
    position: absolute;
    top: 20px;
    left: 50%;
    text-align: center;
    height: auto!important;
    width: auto!important;
    transform: translateX(-50%);
}

#label {
    white-space: nowrap;
    font-size: 30px!important;
    word-spacing: 0!important;
}

#custom_rolls ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
}
#custom_rolls ul {
  list-style: none;
}
#custom_rolls ul li {
  overflow: hidden;
  border-bottom: 1px solid #555;
  padding: 5px 0;
  cursor: pointer;
}
#custom_rolls ul li.title {
  font-size: 1.5em;
  cursor: default;
}
#custom_rolls .roll_label {
  float: left;
  width: 60%;
}
#custom_rolls .roll_value {
  float: left;
  width: 40%;
  text-align: right;
  font-weight: lighter;
}
input.fileUpload {
  font-size: 100px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
input.squareButton {
  background-color: #505e69;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  cursor: pointer;
  width: 100%;
}
input.squareButton.primary {
  background-color: #4CAF50;
}
#multiplayer {
  position: fixed;
  bottom: 0px;
  left: 15px;
  width: 270px;
  background: #333;
  box-shadow: 0 -10px 10px #333;
  box-sizing: border-box;
  padding: 0 5px 20px 5px;
  overflow: hidden;
  z-index: 9999;
  h4 {
  }
  .squareButton {
    margin-top: 8px;
  }
  #multiplayerID {
    border: 1px solid #eee;
    height: 45px;
    line-height: 45px;
    text-align: center;
    box-sizing: border-box;
    margin: 4px 0px;
    &::before {
      content: 'Session ID: ';
    }
  }
}

#multiplayerID
#custom_rolls_loader {
  width: 260px;
  height: 50px;
  position: relative;
  overflow: hidden;
}
